@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.main {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 54%,
    rgba(119, 0, 255, 1) 100%
  );
  padding-top: 90px;
  margin: 0 auto;
  padding-bottom: 30px;

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  z-index: 20;
  height: 80px;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  text-decoration: none;
  color: #fff;
  padding: 30px 0;
  font-size: 36px;
  @media screen and (max-width: 479px) {
    font-size: 24px;
  }
}

.nav_link {
  text-decoration: none;
  color: #fff;
  padding: 15px 0;
  font-size: 24px;
  @media screen and (max-width: 479px) {
    font-size: 16px;
  }
}

.nav_link:not(:last-child) {
  margin-right: 30px;
  @media screen and (max-width: 479px) {
    margin-right: 15px;
  }
}

.nav_link:hover,
.nav_link:focus,
.logo:hover,
.logo:focus {
  color: #d595e9;
}

.nav_link .active {
  color: #d595e9;
}

.projectTitle {
  color: rgba(161, 161, 245, 1);
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 36px;
}

.img {
  min-height: 150px;
  object-fit: cover;
  width: 101%;
  height: 100%;
}

.imgWrapper {
  min-height: 190px;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
  }
}

.blogCard {
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 335px;
  }
  @media screen and (min-width: 1280px) {
    width: 400px;
  }
}

.hr {
  width: 50px;
  height: 3px;
  margin: 20px auto 0;
  border: 0;
  background: #d595e9;
}

.container {
  display: block;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 16px;
  }
}

.titleContent {
  text-align: center;
  z-index: 20;
  width: 100%;
  margin: 20px 0;
}

.headerThree {
  font-weight: 500;
  letter-spacing: 2px;
  color: #9cc9e3;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #dce3e7;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.cardInfo {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  padding: 0 15px;

  @media screen and (min-width: 1280px) {
    padding: 0 50px;
  }
}

.utilityList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}

.externalLinks {
  text-decoration: none;
  color: #d4c0c0;
  font-size: 20px;
  padding: 12px 20px 15px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 54%,
    rgba(119, 0, 255, 1) 100%
  );
  border-radius: 15px;
  transition: 0.5s;
}

.externalLinks:hover,
.externalLinks:focus {
  background: linear-gradient(
    90deg,
    rgba(151, 146, 235, 1) 0%,
    rgba(161, 161, 245, 1) 54%,
    rgba(188, 140, 244, 1) 100%
  );
  color: #000;
}

.mainBtn {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 16px;
  padding: 12px 20px 15px;
  border: 1px solid rgba(151, 146, 235, 1);
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 0 2px 2px #d6d7d9, 0 -2px 2px #cecfd1, 0 2px 3px 1px #fcfcfc,
    0 -2px 2px #fefefe;
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
}

.mainBtn:hover,
.mainBtn:focus {
  color: #fff;
  border-color: rgba(119, 0, 255, 1);
}

.title {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-weight: 700;
  font-size: 44px;
  color: #fff;
  text-shadow: -1px 1px 0 #a19f9f, -0.05em 0.05em #b5b8b5;
  width: 90%;
  text-align: center;

  @media screen and (min-width: 480px) {
    font-size: 66px;
  }

  @media screen and (min-width: 768px) {
    font-size: 76px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 96px;
  }
}

/* anim */
.cloudsWrapper:before,
.cloudsWrapper:after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  min-width: 2560px;
  width: 100%;
  background-size: auto 100%;
  -webkit-animation: clouds linear infinite alternate;
  animation: clouds linear infinite alternate;
}

.clouds {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.cloudsWrapper {
  position: absolute;
  overflow: hidden;
  top: -149px;
  height: 150px;
  width: 100%;
}
.cloudsWrapper:after {
  background: url('https://imgur.com/GaR2ZvO.png') bottom repeat-x;
  -webkit-animation-duration: 210s;
  animation-duration: 210s;
}
.cloudsWrapper:before {
  background: url('https://imgur.com/zYklUEb.png') bottom repeat-x;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
}

.block {
  position: relative;
  height: 100%;
  background-image: radial-gradient(
    circle at 50% 90%,
    #385c78,
    #011735 79%,
    #010e1f
  );
  overflow: hidden;
  box-sizing: border-box;
}
.block:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://imgur.com/B2VVbTo.png');
  background-size: cover;
  animation: stars 40s linear infinite alternate;
}
.block:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://imgur.com/OzQPJqM.png');
  background-size: cover;
  animation: stars 70s linear infinite alternate;
}

@keyframes stars {
  0% {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }
  100% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
}

@keyframes clouds {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
